.DS_Store
debug_screenshots/*
debug_logs/*
datasheet_download.log
datasheets/*


# pycache
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pywz
*.pywz
*.pywz
*.pywz
tests/data/wrong_mpns.txt

# Ignore distribution files
dist/
.env
